@import url('https://fonts.googleapis.com/css?family=Roboto');	
@import url("components/background.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/dropdown.css");
@import url("components/card.css");
@import url("components/badge.css");
@import url("components/banner.css");
@import url("components/tabs.css");
@import url("components/product.css");


.text-center {
	text-align: center;
}


body {
	font-family: 'Roboto', sans-serif;
	padding-bottom: 150px;
}

h1, h2, h3 {
	
	font-family: 'Roboto', sans-serif;
}

.container{
	
	padding: 20px;
}